@page "/role" 

@inject IHttpClientFactory _ClientFactory;
@using Newtonsoft.Json;

<h3>AttenderizerUserData</h3>

@if (string.IsNullOrWhiteSpace(errorString) == false)
{
    <div class="h2">@errorString</div>
}
else if (userModel is null)
{
    <div class="h4">Loading...</div>
}
else    
{
    <ul>
        @foreach (var item in userModel)
        {
            <li>@item.FirstName</li>
        }
    </ul>
}

@code {     

    List<AttenderizerUserModel> userModel = new List<AttenderizerUserModel> ();
    string errorString;

    protected override async Task OnInitializedAsync()
    {
        //var request = new HttpRequestMessage(HttpMethod.Get, "https://attenderizerapi.azurewebsites.net/api/login");

        var client = _ClientFactory.CreateClient();

        HttpResponseMessage response = await client.GetAsync("https://attenderizerapi.azurewebsites.net/api/login");

        if(response.IsSuccessStatusCode)
        {
            var content = response.Content.ReadAsStringAsync().Result;
            userModel = JsonConvert.DeserializeObject<List<AttenderizerUserModel>>(content);
            errorString = null;
        }
        else
        {
            errorString = $"There was an error getting data: {response.ReasonPhrase}";
        }
    }
}
