@page "/"

<div class="container">
        <input class="m-4" type="text" id="qr-data" onchange="generateQR()" />
        <button type="button" class="btn align-middle btn-success" action="generateQR()">Generate QR</button>

        <div class="m-4 align-content-center text-center align-items-center" id="qrcode"></div>
</div>

