@page "/"

@inject IHttpClientFactory _ClientFactory;
@using Newtonsoft.Json;
@using Syncfusion.Blazor
@using System.Net.Http;
@using System.Net.Http.Headers;

<EditForm Model="@DataModel">
    <div class="container">
        <input class="m-4" type="text" @bind-value="DataModel.QRInputValue" />

        <button type="button" class="btn align-middle btn-success" @onclick="GenerateClick">Generate QRCode</button>

        <hr />
        <div class="col-10">

        </div>
    </div>
</EditForm>

<hr />

@if (DataModel.QRInputValue != null && DataModel.QRInputValue.Trim() != "")
{
    <div class="container">
        <Syncfusion.Blazor.BarcodeGenerator.SfQRCodeGenerator Width="500px"
                                                              Height="500px"
                                                              Value="@DataModel.QRInputValue"></Syncfusion.Blazor.BarcodeGenerator.SfQRCodeGenerator>

    </div>
}

@if (string.IsNullOrWhiteSpace(errorString) == false)
{
<div class="container">
    <div class="h2">@errorString</div>

</div>

}


@code
{
    public QRCodeDataModel DataModel = new QRCodeDataModel();
    QRModel qRModel = new QRModel();
    string errorString;
    //HttpClient client;


    public class QRCodeDataModel
    {
        public string QRInputValue { get; set; }
    }

    protected async void GenerateClick()//binded to button
    {
        errorString = null;
        if (string.IsNullOrEmpty(DataModel.QRInputValue))
        {
            errorString = "Hey! You need to enter a code!";
        }
        await InsertQRCode(DataModel.QRInputValue);
    }

    private async Task InsertQRCode(string qrcode)
    {
        var client = _ClientFactory.CreateClient();
        var json = JsonConvert.SerializeObject(new QRModel() { QrCode = qrcode });
        HttpContent content = new StringContent(json);

        content.Headers.ContentType = new MediaTypeHeaderValue("application/json");

        HttpResponseMessage response = await client.PostAsync("https://attenderizerapi.azurewebsites.net/api/qrcode/insert", content);

        //if (response.IsSuccessStatusCode)
        //{

        //    errorString = "it's working";
        //}
        //else
        //{
        //    errorString = $"There was an error getting data: {response.ReasonPhrase}";
        //}
    }
}